<!DOCTYPE html>
<html>
<head>
  <title>Morgan</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>
<body>
<div class="container">
<div class="text-center">
<h1>MORGAN JONES</h1>
<p>A CA native living in MN. A computer science grad from Carleton working at Target. This is a little more about and what I build.</p>
<a href="https://twitter.com/jmorganbjones"><i class="icon-twitter"></i></a>
<a href="http://www.pinterest.com/jmbmjones/me/"><i class="icon-pinterest"></i></a>
<a href="http://www.linkedin.com/in/jmbjones/"><i class="icon-linkedin"></i></a>

  <div class="navbar">
	<div class="navbar-inner">
	<div class="container">
	    <ul class="nav">
              <li><%= link_to "Python", python_pages_path  %></li>
              <li><%= link_to "Ruby", ruby_pages_path  %></li>
              <li><%= link_to "Thoughts", blog_pages_path %></li>
              <li><%= link_to "Projects", comps_pages_path %></li>
	      <li><%= link_to "Me", me_pages_path %></li>
	    </ul>
	</div>
	</div>
  </div>
</div>
</div>
<div is="side-content">
  <%= yield(:side_bar) %>
</div>


<%= yield %>
</body>
</html>
